[submodule "upstream/pypto"]
	path = upstream/pypto
	url = https://gitcode.com/cann/pypto.git
[submodule "upstream/pypto-gym"]
	path = upstream/pypto-gym
	url = https://gitcode.com/cann/pypto-gym.git
[submodule "upstream/pto-isa"]
	path = upstream/pto-isa
	url = https://gitcode.com/cann/pto-isa.git
[submodule "upstream/pypto-community"]
	path = upstream/pypto-community
	url = https://github.com/hw-native-sys/pypto.git
[submodule "upstream/PTOAS"]
	path = upstream/PTOAS
	url = https://github.com/hw-native-sys/PTOAS.git
